@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>*@

<script>
    $(document).ready(function () {
        $("form").submit(function (event) {
            event.preventDefault();
            console.log("does this work?")
             $.ajax({
                type: 'POST',
                data: $(this).serialize(),
                url: '@Url.Action("Claim")',
                dataType: 'json',
                success: function (result) {
                    console.log("ajax kinda works");
                }
            });
        });
    });
</script>

<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <div class="row">
        <div class="col md6">
            
                <p>@Job.Title</p>
                <ul>
                    <p>@Job.Description</p>
                </ul>
                @if (Job.Worker == null)
                {
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" asp-controller="Jobs" asp-action="Claim">
                            <input type="hidden" value="@Job.JobId" name="id"/>
                            <button type="submit" class="btn info" name="jobclaimbutton" value="">Claim This Job</button>
                     
                        </form>
                    }
                    else
                    {
                        <p class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>

                    }
                }


        <div class="col md6">
            <div id="job-claim-view"></div>
        </div>
    </div>
  </div>
    <hr />
}


@*<form id="myform">
    for (int i = 0; i < Model.ListRoles.Count(); i++)
            {
        <label style="display:block">
            Html.CheckBoxFor(model => model.ListRoles[i].Selected)
            Html.HiddenFor(model => model.ListRoles[i].Id)
            Html.LabelFor(model => model.ListRoles[i].RoleName, Model.ListRoles[i].RoleName)
        </label>
    }
</form>
$.ajax({
                        type: "POST",
                        url: "Url.Action("Edit", "User")",
                        data: $("#myFormId").serialize(),

                        success: function (result) {
                        alert('Update successful !');
                        },
                        });

    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
 $(function () {
        $("form").submit(function (event) {
            event.preventDefault();
            console.log($(this).serialize());
            $.ajax({
                type: 'POST',
                url: 'Url.Action("Claim")',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    var target = "job" + result.jobId;
                    $("#" + target).html("this job is claimed by " + result.worker.firstName + " " + result.worker.lastName);
                }
            })
        })

    })
</script>

<div class="text-center">
    <h3>Our Current Jobs</h3>
    Html.ActionLink("Add a new job", "Create")
</div>
foreach (Job job in Model)
{
    string buttonId = $"job{job.JobId}";
    <ul>
        <li>job.Title</li>
        <li>
            <ul>
                <li>job.Description</li>
            </ul>
        </li>
        if (job.Worker == null)
        {
            <li class="btn" id="buttonId">
                This job is unclaimed.
                <form method="post" asp-controller="jobs" asp-action="Claim">
                    <input type="hidden" name="jobId" value="job.JobId" />
                    <button class="btn">Claim this job</button>
                </form>
            </li>
        }
        else
        {
            <li class="btn" id="buttonId">This job is claimed by job.Worker.FirstName job.Worker.LastName</li>

        }
    </ul>
    <hr />*@
