@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $("form").submit(function (event) {
            event.preventDefault();
             $.ajax({
                type: 'POST',
                data: $(this).serialize(),
                url: '@Url.Action("Claim")',
                dataType: 'html',
                success: function (result) {
                    alert("You have claimed this Job!");
                }
            });
        });
    });
</script>

<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
   
@foreach (var Job in Model)
{
    <div class="row">
        <div class="col md6">
            
                <p>@Job.Title</p>
                <ul>
                    <li>@Job.Description</li>
                </ul>
                @if (Job.Worker == null)
                {
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" asp-controller="Jobs" asp-action="Claim">
                            <input type="hidden" value="@Job.JobId" name="jobId"/>
                            <button type="submit" class="btn info" name="jobclaimbutton" value="">Claim This Job</button>
                        </form>
                    }
                    else
                    {
                        <p class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>
                    }
                }
        <div class="col md6">         
            <div id="@Job.JobId"></div>
        </div>
    </div>
  </div>
    <hr />
}
