@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script>
    $(document).ready(function () {
        $('.pending-job-submit').submit(function (event) {
            event.preventDefault();          
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                url: '@Url.Action("PendingJob", "Workers")',
                success: function (result) {
                    var stringResult = '<h3>' + result.title +'</h3>' ;
                    $('#pending-job').append(stringResult);
                }
            });
        });
        $('.completed-job-submit').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                url: '@Url.Action("CompletedJob", "Workers")',
                success: function (result) {
                    console.log(result.title);
                    var stringResult = '<h3>' + result.title + '</h3>';
                    $('#completed-job').append(stringResult);
                }
            });
        });
    });
</script>
        <h4 class="text-center">Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>

@if (User.Identity.IsAuthenticated)
{

    <div class="row">
        <div class="col-md-4">
            <h3>All Jobs:</h3><hr />
            @foreach (var Job in Model.Jobs)
            {
                <div id="@Job.JobId">
                    <h3>@Job.Title</h3>
                   
                       @if (@Job.Pending == false)
                        {
                            <h4>Working On?</h4>
                            <form class="pending-job-submit" asp-action="Completed" asp-controller="Workers">
                                <input type="hidden" name="jobId" value="@Job.JobId"> 
                                <button type="submit" class="btn">Currently Working On</button>
                            </form>
                        }
                       @if(@Job.Completed == false)
                       {
                           <h4>Completed?</h4>
                            <form class="completed-job-submit" asp-action="Completed" asp-controller="Workers">
                                <input type="hidden" name="jobId" value="@Job.JobId">
                                <button class="btn" type="submit">Job Completed</button>
                            </form>
                        }
</div>

            }
        </div>
        <div class="col-md-4">
            <h3>Jobs You're Working On:</h3><hr />
            @foreach (var Job in Model.Jobs)
            {
                <div id="pending-job">
                    @if (Job.Pending == true)
                    {
                        <h3>@Job.Title</h3>

                    }
                </div>
            }
        </div>
        <div class="col-md-4">
            <h3>Jobs You've Completed</h3><hr />
            @foreach (var Job in Model.Jobs)
            {
                <div id="completed-job">
                    @if (Job.Completed == true)
                    {
                        <h3>@Job.Title</h3>

                    }
                </div>
            }
        </div>

    
    </div>
}